@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #db2777;
  --font-inter: "Inter";
  --font-geist-mono: "Geist Mono";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
